@import '~office-ui-fabric-react/dist/sass/References.scss';
.FeedBackBodySection {
    background: #d8f4f7;
    padding: 20px;
}

.Header {
    color: #00584d;
    font-weight: 600;
    font-size: 18px;
}

.LabelSection {
    color: #00584d;
    font-size: 14px;
    padding-bottom: 0;
}

.btnSection {
    width: 50%;
    // height: 40px;
    margin: 20px 0px;
    padding: 6px 20px;
    border: none;
    border-radius: 3px;
    background: #fdbe14;
    color: #00584d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.dialogClose {
    padding: 6px 16px;
    background-color: #fdbe14;
    color: #00584d;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 31%;
}