/* .TicketDropDown .ms-Dropdown-title {
    height: unset !important;
    padding: 0px 28px 0px 8px !important;
} */

.dialogSection .ms-Dialog-title {
    padding: 6px 46px 6px 24px !important;
}

.dialogSection .ms-Dialog-main {
    min-height: unset !important;
}

.clsTextSubmit label{
    color: #00584d !important;
}